<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<p id="notice"><%= notice %></p>



<table>

    <div class="contenant">
      <img src="https://img.lemde.fr/2019/10/04/0/0/6000/4000/1045/696/75/0/3d75355_Q2rKTBZVEL3KKjKQRElFMCro.jpg" id="background" alt="image">
      <div class="maintext">ClassMyMIDI</div>
    </div>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.style %></td>
        <td><%= article.image %></td>
        <%= link_to article.name, "https://www.thomann.de/fr/compare.html?art%5B%5D=402764&art%5B%5D=400073&art%5B%5D=498231", :target => "_blank" %>
        <td><%= article.text %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
